body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: #969696;
    padding: 16px;
    text-decoration: none;
    margin-top: 20%;
  }
 .sidebar #down a{
      margin-top: 40%;
  }
  h3{
    color: #0095c6;
  }
   
  /* .sidebar a.active {
    background-color: rgba(0, 149, 198, 0.16);
    color: white;
  }
   */
  /* .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
   */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50%;
    overflow: hidden;
    background-color: #0095C6;
  }
  
  li {
    /* float: left; */
    border-right:1px solid #bbb;
    position: relative;
    left: 50px;
  }
  
  li:last-child {
    border-right: none;
  }
  
   .how {
    display: block;
    color: white;
    
    padding: 14px 16px;
    text-decoration: none;
    background-color:#0095C6;
  }
  
  li a:hover:not(.active) {
    background-color: #0095C6;
  }
  
  /* .active {
    background-color: #04AA6D;
  } */


  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .switch input{
    opacity: 0;
    height: 0;
    width: 0;
  }
  .slider{
    position:absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .topnav .search-container {
    /* float: right; */
  }
  
  